<extend name="Public/base"/>

<block name="title">修改密码</block>

<block name="head0">首页</block>
<block name="head1">修改密码</block>

<block name="body">
 <form class="am-form" action="__SELF__" method="post" enctype="multipart/form-data">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              新密码
            </div>
            <div class="am-u-sm-4">
              <input type="password" class="am-input-sm" name="password"">
            </div>
            <div class="am-u-sm-6"></div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              确认密码
            </div>
            <div class="am-u-sm-4 am-u-end">
              <input type="password" class="am-input-sm" name="password0" >
            </div>
          </div>

         
          
          <div class="am-g am-margin-top">
          <div class="am-u-sm-2 am-text-right">
             &nbsp;
            </div>
          <div class="am-margin" style="float:left;">
			<input type="submit" class="am-btn am-btn-success" value="提交保存">
		  </div>
		  
		  <div class="am-margin" style="float:left;">
			<input type="reset" class="am-btn am-btn-secondary" value="重置表单">
		  </div>
		  
		  <div class="am-margin" style="float:left;">
		  <button type="button" class="am-btn am-btn-secondary" onclick="javascript :history.back(-1)">返回列表</button>
		  </div>
		  
		  </div>
		  

        </form>
</block>