<extend name="Public/base"/>

<block name="title">{$result.name}的详情</block>

<block name="head0">账号管理</block>
<block name="head1">{$result.name}的详情</block>

<block name="body">
<div class="am-padding">


<table class="am-table">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{$result.id}</td>
            <td></td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{$result.name}</td>
            <td></td>
        </tr>
        <tr>
            <td>用户权限</td>
            <td><if condition="$result.role eq 1">超级管理员<else />普通管理员</if></td>
            <td></td>
        </tr>
       
    </tbody>
</table>

<div class="am-padding" style="float:left;">
<button type="button" class="am-btn am-btn-secondary" onclick="javascript :history.back(-1)">返回列表</button>
</div>


<div class="am-padding" style="float:left;">
	<form action="__SELF__" method="post">
		<input type="hidden" name="id" value="{$result.id}"/>
		<input type="submit" value="确认删除" class="am-btn am-btn-danger" style="float:left;"/>
	</form>
	<br>
</div>



</div>
</block>