<extend name="Public/base"/>

<block name="title">编辑管理员信息</block>

<block name="head0">账号管理</block>
<block name="head1">编辑管理员信息</block>

<block name="body">

        <form class="am-form" action="__SELF__" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$result.id}"/>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              用户名
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm" name="name" value="{$result.name}">
            </div>
            <div class="am-u-sm-6"></div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              密码
            </div>
            <div class="am-u-sm-4 am-u-end">
              <input type="text" class="am-input-sm" name="password">
            </div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              用户权限
            </div>
            <div class="am-u-sm-4">
              <label><input type="radio" name="role" value="0" checked>普通管理员</label><br><label><input type="radio" name="role" value="1">超级管理员</dd></label>
            </div>
            <div class="am-u-sm-6"></div>
          </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-2 am-text-right">
                    &nbsp;
                </div>
                <div class="am-u-sm-4 am-u-end">
                    <strong>Tips: 密码留空则不修改</strong>
                </div>
            </div>

         
          <div class="am-g am-margin-top">
          <div class="am-u-sm-2 am-text-right">
             &nbsp;
            </div>
          <div class="am-margin" style="float:left;">
			<input type="submit" class="am-btn am-btn-success" value="提交保存">
		  </div>
		  
		  <div class="am-margin" style="float:left;">
			<input type="reset" class="am-btn am-btn-secondary" value="重置表单">
		  </div>
		  
		  <div class="am-margin" style="float:left;">
		  <button type="button" class="am-btn am-btn-secondary" onclick="javascript :history.back(-1)">返回列表</button>
		  </div>
		  
		  </div>
		  

        </form>
</block>