<extend name="Public/base"/>

<block name="title">{$result.username}的详情</block>

<block name="head0">账户管理</block>
<block name="head1">{$result.username}的详情</block>

<block name="body">
<div class="am-padding">


<table class="am-table">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{$result.tid}</td>
            <td></td>
        </tr>
        <tr>
            <td>类别名</td>
            <td>{$result.typename}</td>
            <td></td>
        </tr>

    </tbody>
</table>

<div class="am-padding" style="float:left;">
<button type="button" class="am-btn am-btn-secondary" onclick="javascript :history.back(-1)">返回列表</button>
</div>

    <if condition="$_GET['hide'] neq 1"> <!-- hide值为1则为预览模式，不显示删除按钮 -->
<div class="am-padding" style="float:left;">
	<form action="__SELF__" method="post">
		<input type="hidden" name="tid" value="{$result.tid}"/>
		<input type="submit" value="确认删除" class="am-btn am-btn-danger" style="float:left;"/>
	</form>
	<br>
</div>
    </if>


</div>
</block>