<extend name="Public/base"/>

<block name="title">类别列表</block>

<block name="head0">类别管理</block>
<block name="head1">类别列表</block>

<block name="body">
    <div class="am-u-md-9 am-cf"><button type="button" class="am-btn am-btn-primary" onclick="javascript:window.location.href='{:U('Type/add')}'">添加类别</button></div>


<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form">
            <table class="am-table am-table-hover table-main">
				<thead>
				<tr>
                    <th class="table-title">类别ID</th>
                    <th class="table-title">类别名</th>
                    <th class="table-set">操作</th>
              </tr>
				</thead>

				<tbody>
				<foreach name="result" item="value" key="key">
				<tr>
			  <td>{$value.tid}</td>
			  <td>{$value.typename}</td>
			  <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                      <button type="button" class="am-btn am-btn-default am-btn-xs" onclick="javascript:window.location.href='__URL__/del/tid/{$value.tid}/hide/1'"><span class="am-icon-copy" ></span> 详情</button>
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary"  onclick="javascript:window.location.href='__URL__/upd/tid/{$value.tid}'"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger"  onclick="javascript:window.location.href='__URL__/del/tid/{$value.tid}'"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
            </foreach>
            
			</tbody>
			</table>
		</form>
	</div>
</div>


</block>